:root {
    --text: #ededed;
    --bg: #171717;
    --bg2: #444444;
    --accent: #DA0037;
}

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    background: var(--bg);
}

::-webkit-scrollbar-thumb {
    background: var(--accent);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--bg2);
    cursor: pointer;
}

body {
    font-family: 'Raleway', sans-serif;
    color: var(--text);
    background-color: var(--bg);
    overflow-x: hidden;
}

#whiteoutContainer {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 69420;
    width: 100%;
    height: 110%;
    background-color: var(--bg2);
    transition: 0.5s;
    opacity: 1;
    
    &.hidden {
        background-color: transparent;
        z-index: -9999;
        opacity: 0;
        visibility: hidden;
    }
}

.jMovieButton {
    transition: 0.25s;
    border: 3px solid var(--accent);
    margin: 10px 0px;
    background-color: var(--bg);
    border-radius: 5px;
    color: var(--text);
    font-size: 20px;    
    
    &:hover {
        cursor: pointer;
        background-color: var(--bg2);
    }
}

#exitButton {
    position: absolute;
    right: 20px;
    top: 10px;
}

#settingsButton, #homeButton {
    position: absolute;
    right: 90px;
    top: 10px;
}

#infoButton {
    position: absolute;
    top: 10px;
    left: 20px;
}

#jMovieAlert {
    position: fixed;
    opacity: 0;
    z-index: 100000;
    text-align: center;
    width: 50%;
    height: 45%;
    overflow: hidden;
    visibility: hidden;
    left: 25%;
    top: 15%;
    border-radius: 15px;
    box-shadow: 0px 0px 5px 5px var(--accent);
    background-color: var(--bg2);
    padding-bottom: 20px;
    color: var(--text);
    transition: 0.5s ease;

    #jMovieMessage {
        position: sticky;
        top: 0px;
        padding: 0px 1%;
        width: 98%;
        height: 105%;
        overflow-y: auto;
        overflow-x: hidden;
        
        button {
            margin-bottom: 5%;
        }

        &::-webkit-scrollbar-track {
            background: var(--bg2);
        }
        
        &::-webkit-scrollbar-thumb {
            background: var(--text);
            border-radius: 5px;
        }
        
        &::-webkit-scrollbar-thumb:hover {
            background: var(--bg);
            cursor: pointer;
        }
    
    }
    
    &.active {
        opacity: 1;
        visibility: visible;
    }


}

.jMovieInput {
    font-size: 25px;
    color: var(--text);
    background: var(--bg);
    outline: none;
    border: none;
    transition: 0.25s;
    border-radius: 5px 5px 0px 0px;
    border-bottom: 4px solid var(--accent);    
    padding: 0px 5px 0px 5px;
    
    &:hover {
        background-color: var(--bg2);
    }

    &:focus {
        background-color: var(--bg);
        border-bottom: 4px solid var(--bg2);
    }

}

.movie {
    position: relative;
    border: 2px solid var(--accent);
    width: 15vw;
    max-width: 170px;
    left: 50%;
    margin: 0px 0px 50px -85px; 
    padding: 10px 10px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 0px 10px 5px var(--bg2);
    transition: 0.25s;

    &:hover {
        box-shadow: 0px 0px 10px 5px var(--accent);        
    }
}

.movieTitle {
    font-size: 20px;
    color: var(--text);
}

.textHighlight1 {
    border-bottom: 3px solid var(--accent);
}

.textHighlight2 {
    border-bottom: 3px solid var(--bg2);
}

img {
    border-radius: 5px;
    width: 15vw;
    max-width: 150px;
}
