#header.settings {
    text-align: center;
    height: 170px;
    width: 100%;
    margin-top: 50px;
    
    h1 {
        font-size: 50px;
    }

    .jMovieButton {
        padding: 5px;
    }
    
}

#settingsContainer {
    position: relative;
    width: 70%;
    top: 50px;
    left: 13%;
    margin-bottom: 150px;

    #saveSettingsBtn, #resetSettingsBtn {
        padding: 5px 10px;
        margin-right: 10px;
    }
    
    padding: 30px 2% 60px 2%;
    
    border: 4px solid var(--accent);
    border-radius: 15px;
    
    h2 {
        width: fit-content;
    }

    #themeSettings .inputContainer {
        display: grid;
        grid-template-columns: auto auto;
        
        .row {
            display: inline-flex;
            
            h3 {
                font-size: 20px;
            }
            
            .jMovieInput {
                margin-left: 20px;
                font-size: 20px;
                width: 100px;
                height: 40px;
            }

            div {
                position: relative;
                top: 13px;
                width: 20px;
                height: 20px;
                background-color: var(--bg);
                border: 2px solid white;
                border-radius: 4px;
                margin-left: 15px;
            }
        }
    }
    
    #keyboardSettings .inputContainer {

        display: grid;
        grid-template-columns: auto auto ;
        
        .row {
            display: inline-flex;
            font-size: 20px;

            h3 {
                margin-right: 15px;
            }
            
            .jMovieInput {
                position: relative;
                top: 20px;
                width: 85px;
                height: 30px;
                font-size: 25px;
                margin-right: 30px;
                text-align: center;
            }
        }
    }
}

#listSettings {
    #filterListContainer {
        .list {
            display: inline-flex;
            border: 4px solid var(--bg2);
            border-radius: 5px;
            padding: 0px 15px;
            margin: 10px;

            h3 {
                margin-right: 15px;
            }
    
            input {
                width: 20px;
                accent-color: var(--accent);
            }
            
        }
    }

    textarea {
        background-color: var(--bg2);
        color: var(--text);
        width: 100%;
        height: 200px;
        border: 2px solid var(--accent);
        border-radius: 5px;
        resize: none;
        font-size: 15px
    }
}

#experimentalPlayer {
    iframe {
        border-radius: 5px;
        border: 4px solid var(--bg2);        
    }
}